.pt-7 {
  padding-top: 4.5rem;
}
.max-height500{
  max-height: 500px;
}
@media (min-width: 576px){
  .card-columns{
    column-count: 4;
  }
}
@media (min-width:768px){
  .pt-7{
    padding-top: 5rem;
  }
}
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgb(34 38 42 / 70%);
  color: #fff;
  top: 0;
  left: 0;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-text{
  color: #a71e1e;
}
.left0{
  left: 0;
}
.top3{
  top: 3rem;
}
.LazyLoad.is-visible{
  height: auto !important;
  margin-bottom: .75rem;
  border-radius: .25rem;
  width: auto;
  text-indent: 0;
}
.is-visible + .spinner-border {
  display: none;
}
